[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Clean & Elegant Color Scheme inspired by Atom One and Material
[access "refs/*"]
	owner = group user/Natanael Rabello (natanaeljr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Natanael Rabello (natanaeljr)
	label-Verified = -1..+1 group user/Natanael Rabello (natanaeljr)
	push = group user/Natanael Rabello (natanaeljr)
	read = group user/Natanael Rabello (natanaeljr)
	rebase = group user/Natanael Rabello (natanaeljr)
	removeReviewer = group user/Natanael Rabello (natanaeljr)
	submit = group user/Natanael Rabello (natanaeljr)
[access "refs/heads/*"]
	create = group user/Natanael Rabello (natanaeljr)
	push = +force group user/Natanael Rabello (natanaeljr)
	pushMerge = group user/Natanael Rabello (natanaeljr)
	read = group user/Natanael Rabello (natanaeljr)
[access "refs/tags/*"]
	push = group user/Natanael Rabello (natanaeljr)
	push = +force group user/Natanael Rabello (natanaeljr)
